<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Pizza List</title>
</head>
<body>
    <div class="container">
        <h1>Pizza List</h1>
        <hr>

        <form th:action="@{/pizza}" method="get">
            <div class="input-group mb-3">
                <input type="search" class="form-control" placeholder="Search" name="keyword" th:value="${keyword}">
                <button class="btn btn-primary">Search</button>
            </div>
        </form>

        <a th:href="@{/pizza/create}" class="btn btn-primary mb-3">Add Pizza</a>
        <table class="table table-striped table-warning">
            <thead th:if="${pizza.size() >0">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Link</th>
                <th>Offers</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pizze : ${pizza}">
                <td th:text="${pizze.name}"></td>
                <td th:text="${pizze.description}"></td>
                <td>€ <span th:text="${pizze.price}"></span></td>

                <td class="d-flex">
                <a th:href="@{/pizza/show/{id} (id=${pizze.id})}" class="btn btn-primary">
                    <i class="fa-solid fa-pizza-slice"></i></a>
                <a th:href="@{/pizza/edit/{id} (id=${pizze.id})}" class="btn btn-primary mx-2">
                    <i class="fa-solid fa-pen-to-square"></i></a>
                <form th:action="@{/pizza/delete/{id}(id=${pizze.id})}" method="post">
                    <button type="submit" class="btn btn-danger"><i
                            class="fa-solid fa-trash"></i></button>
                </form>
                </td>
                <td>
                    <span class="badge bg-primary" th:if="${pizze.hasActiveSpecialOffer()}">Special Offer</span>
                </td>
            </tr>
            </tbody>

        </table>
        <div th:unless="${pizza.size()>0}">No pizza on list</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>